html, body
{
    height: 100%;
    margin: 0;
}

body
{
    display: flex;
    flex-direction: column;
    font-family: Helvetica Neue, Arial, sans-serif;
    background-color: #efefef;
    color: #383e56;
    font-size: 20px;
    font-weight: 500;
}
h1
{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}

h2
{
    font-size: 40px;
    font-weight: 700;
    color: #f5b971;
    margin: 0;
}
p
{
    margin-top: 10px;
}
a
{
    text-decoration: none;
    color: #ff8080;
}
button
{
    background: none;
    border: none;
    padding: 0;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #ff8080;
    cursor: pointer;
    outline: none;
}
a:hover
{
    color: #ef6c57;
}
hr
{
    border: 1px dashed #000;
    width: 100%;
    margin: 0 auto 5% auto;
}
ul
{
    list-style-type: square;
    color: #ff8080;
    line-height: 1.5;
}
.container
{
    flex: 1 0 auto;
    margin: 0 auto;
    padding: 20px;
    max-width: 500px;
}
#zen
{
    color: #d291bc;
}
#zen p{
    margin-top: 30px;
}
.quote-attribution
{
    color: #aaaaaa;
    font-size: 20px;
}
#projects h2, #books h2, #contact h2
{
    margin-top: 30px;
}
footer
{
    font-size: 16px;
    color: #aaaaaa;
    margin: 0 auto;
    flex-shrink: 0;
    padding: 10px;
}